[Unit]
Description=met.ie forecast scraper
ConditionPathExists=/etc/metie.toml
After=network.target

[Service]
Type=simple
DynamicUser=yes
User=metie
Group=metie
LimitNOFILE=1024
ExecStart=/usr/local/bin/metie -config /etc/metie.toml
Restart=on-failure

NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
DevicePolicy=closed
ProtectSystem=strict
ProtectHome=read-only
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
MemoryDenyWriteExecute=yes
LockPersonality=yes

[Install]
WantedBy=multi-user.target
